<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="marketplace.tcc.usjt.br.marketplace">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.triggerInitial.MainActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LOGIN USUÁRIO -->
        <activity
            android:name=".activity.triggerInitial.LoginActivity"
            android:label="Entrar" />

        <!-- CADASTRO DE USUÁRIO -->
        <activity
            android:name=".activity.triggerInitial.CadastroActivity"
            android:label="Cadastrar" />

        <!-- VIEW INICIAL DO ESTABELECIMENTO -->
        <activity
            android:name=".activity.EstabelecimentoActivity"
            android:label="Estabelecimento" />

        <!-- CADASTRO DE ESTABELECIMENTO -->
        <activity
            android:name=".activity.triggerInitial.CadastroEstabelecimentoActivity"
            android:label="Cadastrar Estabelecimento" />

        <!-- HOME DO APP -->
        <activity
            android:name=".activity.triggerInitial.InitialActivity"
            android:label="Início"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- VIEW PARA CRIAR LISTA -->
        <activity
            android:name=".activity.CriarMinhaListaActivity"
            android:label="Criar minha lista" />

        <!-- VIEW DE MINHA MELHOR OPÇÃO -->
        <activity
            android:name=".activity.MinhaMelhorOpcaoActivity"
            android:label="Minha melhor opção" />

        <!-- VIEW DE PROMOÇÃO -->
        <activity
            android:name=".activity.triggerPromotion.PromocaoActivity"
            android:label="Promoções" />

        <!-- VIEW DE HISTÓRICO DE COMPRAS -->
        <activity
            android:name=".activity.HistoricoDeComprasActivity"
            android:label="Histórico de compras" />

        <!-- VIEW ENTRAR EM CONTATO -->
        <activity
            android:name=".activity.EntrarEmContatoActivity"
            android:label="Entrar em contato" />
        <activity
            android:name=".activity.SobreActivity"
            android:label="Sobre" />

        <!-- CARRINHO -->
        <activity
            android:name=".activity.CarrinhoActivity"
            android:label="Carrinho" />

        <!-- LISTA DE CATEGORIAS -->
        <activity
            android:name=".activity.triggerCategory.CategoriasActivity"
            android:label="Categorias" />

        <!-- DETALHE DA CATEGORIA -->
        <activity
            android:name=".activity.triggerCategory.DetalheCategoriaActivity"
            android:label="Detalhe da Categoria" />
        <activity android:name=".activity.triggerPromotion.DetalheCategoriaPromocaoActivity"></activity>
    </application>

</manifest>